<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
</div>
<%= bootstrap_form_for(:todos, url: { action:"create"}) do |f| %>
<div class="modal-body">
   
      <%= f.text_area   :description,
                        label: 'Kuvaus',
                        cols: "30",
                        rows: "3",
                        class: 'form-control' %>
    
    <%= f.select  :priority, [["Kriittinen", "1"], ["Tärkeä", "2"], ["Hyödyllinen", "3"]], 
            {prompt: "--Valitse--", label: "Prioriteetti"}    %>
    
    <%= f.text_field :duedate, 'data-behaviour' => 'datepicker', label: 'Aikataulu', class: 'form-control'  %>
    
</div>
<div class="modal-footer">
    <button class="btn btn-gray" data-dismiss="modal" aria-hidden="true">Sulje</button>
    <button class="btn btn-green">Tallenna</button>
</div>
<% end %>